$navbar-default-bg: #073B15;
@import "bootstrap-sprockets";
@import "bootstrap";
.center{
  text-align: center;
}
.jumbotron{
  background-image: asset-url('header.jpg') ;
  background-size: cover;
  height:300 px;

}
#logo {

  float:left;
  font-size:1.7em;
  color:#fff;
  text-transform:uppercase;
  letter-specing:-1px;
  font-weight:bold;
}
#logo:hover{
  color: #FFF;
  text-decoration: none;

}
.jumbotron h1{
  color: #fff;
  text-align : center;
  margin-bottom: 30px;
  latter-spacing:-1px;
  font-weight: bold;
}
.jumbotron h2{
  color: #fff;
  text-align : center;
  margin-bottom: 30px;
  latter-spacing:-1px;
  font-weight: bold;
}
.btn-xlarge {
  background-color: #073B15;
}
.btn-xlarge:hover{
  color: #fff;
  text-decoration: none;
}
.chef_info{
  margin-top:10px;
}

.description{
  margin-top:0
}
.well a{
  color: #073B15;
}
.colormatch a{
  color: #073B15;
}
.recipe-actions{
  padding-top: 5px

}
.recipe-actions a{
  color: #fff;
}

.listing{
  list-style: none;
  padding-left: 0;
}
.chef-title{
  color:#073B15;
  font-weight: bold;
  font-size:1.25em;
}
